a:link,
a:visited {
    color: #a93c79;
}

.container {
    background: linear-gradient(135deg, rgb(12 191 83 / 36%) 0%, rgb(191 12 128 / 15%) 63%, rgb(154 112 24 / 25%) 100%) !important;
    text-align: center;
}

.info {
    margin: 28px 0 22px;
    border-left: 7px solid #0abf529a;
}

.payment-method {
    border-radius: 5px;
    opacity: 70%;
}

.adyen-checkout__payment-method__name {
    font-weight: 500;
    color: #289654;
}

.adyen-checkout__payment-method__name--selected {
    font-weight: 500;
    color: #0abf53;
}

.adyen-checkout__input--focus,
.adyen-checkout__input--focus:hover {
    border: 1px solid #834f69;
    box-shadow: 0 0 2px 1px #834f69;
}

.adyen-checkout__button--pay {
    background-color: #4fdb87;
    font-weight: 900;
    border-radius: 0;
    border-radius: 6px;
}

.adyen-checkout__button--pay:hover {
    background-color: #217944;
}

.adyen-checkout__button.adyen-checkout__button--loading {
    background: #76c495;
    box-shadow: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.adyen-checkout__button.adyen-checkout__button--link {
    background: transparent;
    border: 1 px solid #00000045;
    border-radius: 3px;
    color: #d10202;
    font-weight: 700;
    padding: 2px;
    box-shadow: -2px -2px #cda9a947;
}

.adyen-checkout__label--focused .adyen-checkout__label__text {
    color: #8b3962;
}

.dropin-playful .adyen-checkout__payment-method__radio.adyen-checkout__payment-method__radio--selected {
    background-color: #0abf53;
}